
:host ::ng-deep nb-layout-header.fixed ~ .layout-container {
    padding-top: 4px !important;
}

:host ::ng-deep nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding-left: 0px !important;
}

:host ::ng-deep .layout-container {
    background: white !important;
}